@mixin getCenterandWidth {
  margin: auto;
  max-width: 1170px;
}
@mixin getCenterandWidthTabletScreen {
  margin: auto;
  max-width: 768px;
}
@mixin getCenterandWidthPhoneScreen {
  margin: auto;
  max-width: 320px;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin mainTitlesSettings {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  color: $mainColor;
  letter-spacing: 1px;
  &::before {
    content: "- ";
  }
}
