$fontRoboto: "Roboto";
$mainColor: rgba(78, 78, 78, 1);
$headerColorHover: rgba(87, 164, 164, 1);
$postCommentsColor: rgba(124, 124, 124, 1);
$postTextColor: rgba(92, 92, 92, 1);
$footerSloganColor: rgba(254, 254, 254, 1);
$footerBgColor: #000000;
$footerTextColor: rgba(185, 185, 185, 1);
$menuBgColor: rgba(245, 245, 245, 1);
$menuBgColorHover: rgba(229, 229, 229, 1);
$instaPhotosBgColor: rgba(0, 0, 0, 0.1);
