@import "src/scss/reset";
@import "src/scss/fonts";
@import "src/scss/mixins";
@import "src/scss/variables";

// This is my comment
body {
  font-family: $fontRoboto;
}
.header__nav {
  padding-top: 45px;
  padding-bottom: 51px;
  position: relative;
}
.list {
  @include getCenterandWidth;
  @include flexRow;
  justify-content: space-evenly;
  & a {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    cursor: pointer;
    color: $mainColor;
    text-transform: uppercase;
    &:hover {
      color: $headerColorHover;
    }
  }
}
.header__button {
  display: none;
}
.header__img {
  @include getCenterandWidth;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 66px;
}
.posts {
  @include getCenterandWidth;
  margin-bottom: 69px;
}
.posts__title {
  @include mainTitlesSettings;
  margin-bottom: 24px;
}
.posts__list {
  @include flexColumn;
  max-height: 355px;
  flex-wrap: wrap;
}
.posts__img {
  display: block;
  width: 160px;
  height: 140px;
  object-fit: cover;
  margin-bottom: 32px;
  margin-right: 21px;
}
.posts__list-item {
  @include flexRow;
}
.posts__content {
  max-width: 404px;
}
.posts__name {
  color: $mainColor;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.posts__comments {
  color: $postCommentsColor;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 13px;
}
.posts__text {
  color: $postTextColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
.inst-section {
  background-color: $instaPhotosBgColor;
  padding-top: 47px;
}
.wrapper {
  @include getCenterandWidth;
}

.inst-section__text {
  @include flexRow;
  justify-content: space-between;
  margin-bottom: 24px;
  & p {
    @include mainTitlesSettings;
  }
  & a {
    @include mainTitlesSettings;
    font-size: 12px;
    &::before {
      content: "";
    }
    &::after {
      content: " -";
    }
  }
}

.inst-section__photos {
  font-size: 0;
  padding-bottom: 50px;
  & img {
    display: inline-block;
    width: 285px;
    height: 285px;
    margin-right: 10px;
  }
  & img:last-child {
    margin-right: 0px;
  }
}
.footer {
  background-color: $footerBgColor;
}
.footer__content {
  text-align: center;
  max-width: 684px;
  margin: auto;
  padding-top: 66px;
  padding-bottom: 70px;
}
.footer__slogan {
  @include mainTitlesSettings;
  &::after {
    content: " -";
  }
  color: $footerSloganColor;
  margin-bottom: 22px;
}
.footer__logo {
  color: $footerTextColor;
  line-height: 28px;
  margin-bottom: 37px;
}
.social-icons {
  @include flexRow;
  justify-content: center;
  margin-bottom: 34px;
  & li {
    margin-right: 5px;
    cursor: pointer;
  }
}
.footer__info {
  color: $footerTextColor;
  & a {
    color: $footerTextColor;
  }
}
//
//
//
// Settings for screen smaller then 1200px.

@media (max-width: 1199px) {
  .header__nav,
  .header__img,
  .posts {
    @include getCenterandWidthTabletScreen;
  }
  .header__nav {
    padding-top: 41px;
    padding-bottom: 43px;
  }
  .header__img {
    margin-bottom: 56px;
  }
  .posts__list {
    @include flexColumn;
    flex-wrap: nowrap;
    max-height: 759px;
    & li:last-child {
      margin-bottom: 28px;
    }
  }
  .wrapper {
    @include getCenterandWidthTabletScreen;
  }
  .inst-section__photos {
    & img {
      display: inline-block;
      max-width: 249px;
      max-height: 249px;
      margin-right: 9px;
    }
    & img:nth-child(3) {
      margin-right: 0px;
    }
    & img:last-child {
      display: none;
    }
  }
}

// Settings for screen smaller then 768px.

@media (max-width: 767px) {
  .header__nav,
  .header__img,
  .posts {
    @include getCenterandWidthPhoneScreen;
  }
  .header__button {
    position: absolute;
    top: 23;
    right: 0;
    cursor: pointer;
    display: block;
  }

  .header__list {
    position: absolute;
    top: 60px;
    right: 0px;
    @include flexColumn;
    background-color: $menuBgColor;
    min-width: 182px;
    & li {
      padding-left: 13px;
      line-height: 32px;
    }
    & li:hover {
      min-width: 182px;
      background-color: $menuBgColorHover;
    }
    display: none;
  }
  .header__list--opened {
    display: block;
  }
  .header__img {
    margin-bottom: 38px;
  }

  .posts__list {
    @include flexColumn;
    flex-wrap: nowrap;
    & li:last-child {
      display: none;
    }
  }
  .posts__list-item {
    @include flexColumn;
  }
  .posts__text {
    display: none;
  }
  .posts__img {
    margin-bottom: 11px;
  }
  .header__nav {
    padding-top: 23px;
  }
  .posts__comments {
    margin-bottom: 28.5px;
  }
  .wrapper {
    @include getCenterandWidthPhoneScreen;
  }
  .inst-section {
    padding-top: 38px;
  }
  .inst-section__text {
    margin-bottom: 13px;
    & p {
      font-size: 14px;
    }
    & a {
      display: none;
    }
  }
  .inst-section {
    background-color: transparent;
  }
  .inst-section__photos {
    & img:nth-child(2) {
      display: none;
    }
    & img:nth-child(3) {
      display: none;
    }
  }
  .footer__info span {
    display: block;
  }
}
